.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/blurred2.jpg");
  background-position: center;
  background-size:contain;
  height: 40vh;
  width: 100%;
  
}


.footer-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 35vh;
  padding-left: 2rem;
  overflow: auto;
}

.name-input > input {
  color: grey;
  border: 1px solid grey;
  margin-right: 1rem;
  width: 40%;
  margin-bottom: 1rem;
  color: black;
}

.contact-input > input {
  color: grey;
  border: 1px solid grey;
  margin-right: 1rem;
  width: 40%;
  color: black;
}

.contact-input > button {
  width: 40%;
  background-color: #44ba00;
  border: none;
  color: white;
}

@media (max-width: 768px) {

  .name-input > input, .contact-input > input{
    width: 80%;
  }
  .contact-input > button{
    width: 80%;
    margin-top: 1rem;
  }

  
  .footer-right {
    width: 50%;
    font-size: 0.8rem;
  }
}

.footer-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #d0d0d0;
  padding-bottom: 1rem;
}

.part-1 > img {
  height: 8rem;
  width: 8rem;
}

.social-div > a > img {
  height: 2rem;
  width: 2rem;
  margin-left: 0.8rem;
}

.part-2,
.part-3,
.part-4 {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.remove-underline {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .footer-2 {
    justify-content: space-evenly;
    width: 100%;
    font-size: 0.2rem;
  }
  .remove-underline{
    font-size: 0.4rem;
  }
  .part-1 > img {
    height: 5rem;
    width: 5rem;
  }

  .part-2 > h3,
  .part-3 > h3,
  .part-4 > h3 {
    font-size: 0.6rem;
    font-weight: bolder;
  }

  .social-div > a > img {
    height: 1rem;
    width: 1rem;
    margin-left: 0.3rem;
  }

  .give-margin {
    margin-left: 0.3rem;
    font-size: 0.4rem;
  }
}

.footer-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 2rem;
  
}
