nav {
  height: 4rem;
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  margin-left: 2rem;
}

.logo-img:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 2rem;
}

.links > a{
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.links > a:hover {
    color: green;
  }

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  user-select: none;
}

/* CSS */
/* ... Your existing CSS ... */

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    background-color: black;
    z-index: 3;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    display: block;
    transition: 0.3s ease;
    color: white;
    margin-top: 0.8rem;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
  }
}


.gifs{
  height: 3rem;
  width: 3rem;
  margin-right: 5rem;
}

@media (max-width: 768px){
  .gifs{
    padding-top: 0;
    height: 2rem;
  width: 2rem;
  }

 
}